@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  
  padding:0px;
  margin:0px;
  box-sizing:border-box;

}
main {
  background-image: url("/Vector.svg");
  background-repeat: repeat;
  background-position: center;
  /* background: #FAFAFA; */
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* Flip card_flip  */

.card_flip {
  perspective: 1000px;
  position:relative;
  height: 235px;
}

.card_flip-content {
  transition: all 1.5s;
  position:absolute;
  top:0;
  left:0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card_flip-back{
  transform:rotateY(180deg);
}

.card_flip:hover .card_flip-front {
  transform: rotateY(-180deg);
}

.card_flip:hover .card_flip-back {
  transform: rotateY(0);
}
