.hero-bg {
  background-image: url("../assets/png/doodleBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero_search-bg {
  background-image: url("../assets/png/heroBanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.furniture-section {
  background-image: url("../assets/svg/Bg-01\ 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg_office {
  background-image: url("../assets/png/officeBearerBanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


