.hero-bg {
  background-image: url("../assets/png/doodleBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero_search-bg {
  background-image: url("../assets/png/heroBanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.furniture-section {
  background-image: url("../assets/svg/Bg-01\ 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header{
  background-image: url("../assets/svg/pexels-tima-miroshnichenko-5725589\ 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.section3 {
  background-image: url("../assets/png/pexels-charlotte-may-5824519\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 334px;
  width: 100%;
  
}

